@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: "Montserrat", Arial, Verdana, Helvetica, sans-serif;
  color: #000000;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  display: none;
}

.button {
  background: #e86f54;
  border: none;
  border-radius: 38px;
  color: #ffffff;
  font-weight: 500;
  line-height: 24px;
}
.button:hover {
  background: #e25b41;
  cursor: pointer;
}
.button:focus {
  background: #fa6f54;
}
.button--order {
  padding: 10px 35px;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .button--order {
    padding: 20px 43.5px;
    font-size: 28px;
  }
}
.button--subscribe {
  padding: 8px 39.5px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .button--subscribe {
    padding: 20px 69.5px;
    font-size: 28px;
  }
}

.container {
  max-width: 480px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 24px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.section {
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}
.section__title {
  font-family: "Montserrat", Arial, Verdana, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 16px;
}
.section__title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000000;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .section__title {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .section__title {
    margin-bottom: 80px;
  }
}

.blog__caption {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .blog__caption {
    margin-top: 14px;
    margin-bottom: 24px;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .blog__caption {
    margin-top: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .blog__caption {
    margin-top: 24px;
  }
}
.blog__button {
  display: block;
  margin: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

[data-aos=new-animation] {
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=new-animation].aos-animate {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  [data-aos=new-animation] {
    transform: translateX(100px);
  }
  [data-aos=new-animation].aos-animate {
    transform: translateX(0);
  }
}

.header {
  padding-top: 16px;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 124px 0px;
  background-color: #e25b41;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}
.mobile-menu__link {
  color: #ffffff;
  font-family: "Montserrat", Arial, Verdana, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.menu-toggle {
  background: none;
  border: none;
  outline: none;
}
.menu-toggle__icon {
  width: 24px;
  height: 24px;
}
.menu-toggle--close {
  position: absolute;
  top: 16px;
  right: 16px;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.navigation__list {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  color: #5c5c5c;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .label {
    font-size: 14px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 1280px) {
  .label {
    font-size: 14px;
    line-height: 1.21;
  }
}
.label__input {
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  height: 35px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .label__input {
    height: 49px;
    font-size: 14px;
    line-height: 1.21;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .label__input {
    height: 49px;
    font-size: 14px;
    line-height: 1.21;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.modal-contact {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, background-color, visibility;
  transition-duration: 250ms;
  z-index: 1;
}
.modal-contact__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 272px;
  width: 100%;
  height: 380px;
  background-color: #ffffff;
  padding: 28px 16px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-contact__box {
    max-width: 480px;
    width: 100%;
    height: 511px;
    padding: 48px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-contact__box {
    max-width: 480px;
    width: 100%;
    height: 511px;
  }
}
.modal-contact__close {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  stroke: #000000;
  margin: 16px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-contact__close {
    margin: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-contact__close {
    margin: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-contact__close--size {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-contact__close--size {
    width: 24px;
    height: 24px;
  }
}
.modal-contact__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-contact__title {
    font-size: 32px;
    line-height: 1.22;
  }
}
@media screen and (min-width: 1280px) {
  .modal-contact__title {
    font-size: 32px;
    line-height: 1.22;
  }
}
.modal-contact__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #5c5c5c;
  margin-top: 24px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-contact__description {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .modal-contact__description {
    font-size: 16px;
    line-height: 1.25;
  }
}
.modal-contact__label {
  margin-top: 14px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-contact__label {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-contact__label {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
.modal-contact__button {
  width: 100%;
  height: 37px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 600;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, background-color, visibility;
  transition-duration: 250ms;
  border-radius: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-contact__button {
    margin-top: 14px;
    height: 50px;
    font-size: 18px;
    line-height: 1.22;
  }
}
@media screen and (min-width: 1280px) {
  .modal-contact__button {
    margin-top: 14px;
    height: 50px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.modal-sub {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, background-color, visibility;
  transition-duration: 250ms;
  z-index: 1;
}
.modal-sub__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 272px;
  width: 100%;
  height: 380px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-sub__box {
    max-width: 588px;
    width: 100%;
    height: 644px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-sub__box {
    max-width: 860px;
    width: 100%;
    height: 528px;
    flex-direction: row;
  }
}
.modal-sub__close {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  stroke: #000000;
  margin: 14px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-sub__close {
    margin: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-sub__close {
    margin: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-sub__close--size {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-sub__close--size {
    width: 24px;
    height: 24px;
  }
}
.modal-sub__inner-box {
  padding: 18px 16px 28px 16px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-sub__inner-box {
    padding: 28px 118px 40px 118px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-sub__inner-box {
    max-width: 432px;
    padding: 111px 40px 112px 40px;
  }
}
.modal-sub__title {
  font-weight: 600;
  font-size: 19px;
  line-height: 1.21;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-sub__title {
    font-size: 28px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 1280px) {
  .modal-sub__title {
    font-size: 28px;
    line-height: 1.21;
  }
}
.modal-sub__description {
  font-size: 12px;
  line-height: 1.3;
  color: #5c5c5c;
  margin: 15px 2px 18px 2px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-sub__description {
    font-size: 16px;
    line-height: 1.3;
    margin: 24px 8px 32px 8px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-sub__description {
    font-size: 16px;
    line-height: 1.3;
    margin: 24px 8px 32px 8px;
  }
}
.modal-sub__form {
  margin-right: 2px;
  margin-left: 2px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-sub__form {
    margin-right: 8px;
    margin-left: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-sub__form {
    margin-right: 8px;
    margin-left: 8px;
  }
}
.modal-sub__button {
  width: 100%;
  height: 37px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 600;
  margin-top: 18px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, background-color, visibility;
  transition-duration: 250ms;
  border-radius: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-sub__button {
    margin-top: 28px;
    height: 50px;
    font-size: 18px;
    line-height: 1.22;
  }
}
@media screen and (min-width: 1280px) {
  .modal-sub__button {
    margin-top: 28px;
    height: 50px;
    font-size: 18px;
    line-height: 1.22;
  }
}/*# sourceMappingURL=main.css.map */