/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
// @import './example';
@use './partials/vars' as *;
@import './partials/commons';
@import './partials/button';
@import './partials/container';
@import './partials/section';
@import './partials/blog';
