<section class="section about" id="about">
  <div class="container">
    <h2 class="section__title about__title">ABOUT</h2>
    <div class="about__box">
      <p class="about__descritpion">
        We are a minimalistic flower studio. We love people and flowers. Therefore, every day we
        give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we
        create is unique as you are.
      </p>
      <picture class="about__picture">
        <source media="(min-width:1280px)" srcset="./images/about-d@1x.jpg 1x, ./images/about-d@2x.jpg 2x" type="image/jpeg"/>
        
        <source media="(min-width:768px) " srcset="./images/about-t@1x.jpg 1x, ./images/about-t@2x.jpg 2x" type="image/jpeg"/>
        <source media="(max-width:767.59px)" srcset="./images/about-m@1x.jpg 1x, ./images/about-m@2x.jpg 2x" type="image/jpeg"/>
        <img src="./images/about-d@1x.jpg" alt="kwiaty" width="100%"/>
      </picture>
    </div>
  </div>
</section>
