<!-- section blog -->
<section id="blog" class="section blog">
    <!-- width of blog -->
    <div class="blog__wrapper">
        <!-- title h2 -->
        <h2 class="blog__title">blog</h2>
        <!-- slider -->
        <div class="carousel">
            <img class="carousel__picture" src="" alt="">
            <img class="carousel__picture" src="" alt="">
            <img class="carousel__picture" src="" alt="">
        </div>
        <!-- pagination -->
        <div class="carousel__pagination">
            <div class="prev"> <- </div>
                    <div class="next"> -> </div>
            </div>

            <p class="blog__caption">Follow to our newsletter</p>
            <button class="blog__btn">Subscribe</button>
        </div>
</section>