<!-- section blog -->
<section id="blog" class="section blog">
    <!-- width of blog -->
    <div class="container">
        <!-- title h2 -->
        <h2 class="section__title">blog</h2>
        <!-- slider -->
        <picture class="carousel">
            
            <img class="carousel__picture" src="./images/demo.jpg" alt="demo">
            <img class="carousel__picture" src="./images/demo.jpg" alt="demo">
            <img class="carousel__picture" src="./images/demo.jpg" alt="demo">

        </picture>
        <!-- pagination -->
        <div class="carousel__pagination">
            <div class="prev"> &lt; </div>
            <div class="next"> &gt; </div>
        </div>

        <p class="blog__caption">Follow to our newsletter</p>
        <button class="button button--subscribe blog__button" data-modal-sub-open>Subscribe</button>
    </div>
</section>