<!-- zaczynam prace  -->
<section class="section delivery">
  <div class="container">
    <h2 class="section__title">DELIVERY</h2>
    <ul class=>
      <li class="delivery__list">
        <spam class="delivery__list--number">1</spam>
        <p class="delivery__list--text">Choose your bouquet and make an order on website</p>
      </li>
      <li class="delivery__list">
        <spam class="delivery__list--number">2</spam>
        <p class="delivery__list--text">
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </p>
      </li>
      <li class="delivery__list">
        <spam class="delivery__list--number">3</spam>
        <p class="delivery__list--text">
          Wait for the delivery at the selected time or pick up the order from the store
        </p>
      </li>
      <li class="delivery__list">
        <spam class="delivery__list--number">4</spam>
        <p class="delivery__list--text">Make someone happy or enjoy yourself</p>
      </li>
    </ul>
  </div>
  <picture class="delivery__picture">
    <source media="(max-width:767px)" srcset="./images/delivery-m@1x.jpg" />
    <source media="(max-width:1279px) " srcset="./images/delivery-t@1x.jpg" />
    <img src="./images/delivery-d@1x.jpg" alt="kwiaty" />
  </picture>
</section>
