<footer class="footer">
    <div class="container">

<div class="footer__navigation">
    <h4 class="footer__header">Navigation</h4>
    <ul class="footer__list">
        <li class="footer__item"><a href='#'>Anemone</a></li>
        <li class="footer__item"><a href='#'>About us</a></li>
        <li class="footer__item"><a href='#'>Store</a></li>
        <li class="footer__item"><a href='#'>Delivery</a></li>
    </ul>
</div>
<div class="footer__opening-times">
    <h4 class="footer__header">Opening times</h4>
    <ul class="footer__list">
        <li class="footer__item">Every day
            9:00 - 22:00</li>
        
    </ul>
</div>
<div class="footer__contacts">
    <h4 class="footer__header">Contacts</h4>
    <ul class="footer__list">
        <li class="footer__item"><a href="tel:+38 063 123 45 67">+38 063 123 45 67</a></li>
        <li class="footer__item"><a href="mailto:anemonestudio@example.com">anemonestudio@example.com</a></li>
        <li class="footer__item">Reitarska Street, 11
            Kyiv, Ukraine</li>
        
    </ul>
</div>
<div class="footer__media">
    <ul class="footer__list media">
        <li class="media__item">
            <svg width="28" height="28"><use></use></svg>
        </li>
        <li class="media__item">
            <svg width="28" height="28"><use></use></svg>
        </li>
    </ul>
</div>
</div>
</footer>