<footer class="footer">
  <div class="container footer__container">
    <div class="footer__logo">
      <a href="./index.html">
        <svg class="footer__logo--icon"><use href="./images/icons.svg#icon-main-logo"></use></svg>
      </a>
    </div>
    <div class="footer__navigation content">
      <h4 class="footer__header">Navigation</h4>
      <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="#">Anemone</a></li>
        <li class="footer__item"><a class="footer__link" href="#">About us</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Store</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Delivery</a></li>
      </ul>
    </div>
    <div class="footer__opening-times content">
      <h4 class="footer__header">Opening times</h4>
      <ul class="footer__list">
        <li class="footer__item">
          Every day <br />
          <p>9:00</p>
          -
          <p>22:00</p>
        </li>
      </ul>
    </div>
    <div class="footer__contacts content">
      <h4 class="footer__header">Contacts</h4>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="tel:+380631234567">+38 063 123 45 67</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="mailto:anemonestudio@example.com"
            >anemonestudio<span class="footer__item--transfer">@example.com</span></a
          >
        </li>
        <li class="footer__item">Reitarska Street, 11 Kyiv, Ukraine</li>
      </ul>
    </div>
    <div class="footer__media">
      <ul class="footer__list media">
        <li class="media__item">
          <svg width="28" height="28"><use href="./images/icons.svg#icon-fb"></use></svg>
        </li>
        <li class="media__item">
          <svg width="28" height="28"><use href="./images/icons.svg#icon-insta"></use></svg>
        </li>
      </ul>
    </div>
  </div>
</footer>
