<footer class="footer container">
<div class="footer__logo logo">
    <svg><use></use></svg>
</div>
<div class="footer__navigation">
    <h4 class="footer__header">Navigation</h4>
    <ul class="footer__list">
        <li class="footer__item"></li>
        <li class="footer__item"></li>
        <li class="footer__item"></li>
        <li class="footer__item"></li>
    </ul>
</div>
<div class="footer__opening-times">
    <h4 class="footer__header">Opening times</h4>
    <ul class="footer__list">
        <li class="footer__item"></li>
        
    </ul>
</div>
<div class="footer__contacts">
    <h4 class="footer__header">Contacts</h4>
    <ul class="footer__list">
        <li class="footer__item"></li>
        <li class="footer__item"></li>
        <li class="footer__item"></li>
        
    </ul>
</div>
<div class="footer__media">
    <ul class="footer__list media">
        <li class="media__item">
            <svg><use></use></svg>
        </li>
        <li class="media__item">
            <svg><use></use></svg>
        </li>
    </ul>
</div>
</footer>