<header class="header">
  <div class="container header__box">
    <a href="#" class="logo">
      <svg width="45" height="35">
        <use href="./images/icons.svg#icon-main-logo"></use>
      </svg>
    </a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item"><a href="#" class="navigation__link">Anemone</a></li>
        <li class="navigation__item"><a href="#about" class="navigation__link">About us</a></li>
        <li class="navigation__item"><a href="#store" class="navigation__link">Store</a></li>
        <li class="navigation__item"><a href="#delivery" class="navigation__link">Delivery</a></li>
        <li class="navigation__item"><a href="#blog" class="navigation__link">Blog</a></li>
      </ul>
    </nav>
    <div class="header__contact">
      <button type="button" class="phone" data-modal-contact-open>
        <svg width="22" height="22">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
      </button>
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        type="button"
      >
        <svg class="menu-toggle__icon">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
