<section id="hero" class="hero">
  <div class="hero-container">
    <h1 class="hero-title">ANEMONE</h1>
    <h2 class="hero-badge">flower studio</h2>
    <button class="hero-btn" type="button" data-modal-open>
      <svg class="hero-btn-icon">
        <use class="hero-btn-txt hero-btn-icon-mob"></use>
        <use class="hero-btn-txt hero-btn-icon-tab"></use>
        <use class="hero-btn-txt hero-btn-icon-desk"></use>
        <use class="hero-btn-arrow"></use>
      </svg>
    </button>
  </div>
  <div class="hero-shape">
    <picture>
      <source media="(min-width: 1280px)" type="image/webp" />
      <source media="(min-width: 1280px)" type="image/jpeg" />
      <source media="(min-width: 768px)" type="image/webp" />
      <source media="(min-width: 768px)" type="image/png" />
      <source media="(max-width: 767px)" type="image/webp" />
      <source media="(max-width: 767px)" type="image/png" />
      <img class="hero-img" alt="Flower studio preview" loading="lazy" />
    </picture>
  </div>
</section>
