<section class="hero">
  <div class="container hero__wrapper">
    <h1 class="hero__title">ANEMONE</h1>
    <div class="hero__content">
      <p class="hero__text">flower<br />studio</p>
      <picture>
        <source
          srcset="./images/hero-d@1x.jpg 1x, ./images/hero-d@2x.jpg 2x"
          media="(min-width: 1280px)"
          type="image/jpeg"
          sizes="390px"
        />
        <source
          srcset="./images/hero-t@1x.jpg 1x, ./images/hero-t@2x.jpg 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
          sizes="390px"
        />
        <source
          srcset="./images/hero-m@1x.jpg 1x, ./images/hero-m@2x.jpg 2x"
          media="(max-width: 767.98px)"
          type="image/jpeg"
          sizes="145px"
        />
        <img src="./images/hero-t@1x.jpg" alt="Zdjęcie kwiata" />
      </picture>
      <button class="shopnow" data-modal-contact-open>
        <svg class="shopnow__svg" width="64" height="76">
          <use class="shopnow__use-m" href="./images/icons.svg#icon-shopnow-m"></use>
          <use class="shopnow__use-t" href="./images/icons.svg#icon-shopnow-t"></use>
          <use class="shopnow__use-d" href="./images/icons.svg#icon-shopnow-d"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
