<div class="modal-sub is-hidden" data-modal-sub>
  <div class="container modal-sub__box">
    <button class="modal-sub__close" data-modal-sub-close>
      <svg width="18" height="18">
        <use></use>
      </svg>
    </button>
    <picture>
      <source srcset="./images/demo.jpg" media="(max-width: 768px)" width="272" height="121" />
      <source srcset="./images/demo.jpg" media="(max-width: 1280px)" width="588" height="271" />
      <img src="./images/demo.jpg" alt="bouquet of flowers" width="428" height="528" />
    </picture>
    <h3 class="modal-sub__title">Follow to our newsletter</h3>
    <p class="modal-sub__description">
      Be the first to get exclusive offers and the lastest news on our product directly in your box.
    </p>
    <form class="modal-sub__form">
      <label class="label">
        Email
        <input
          class="label__input"
          type="email"
          name="sub-email"
          placeholder="Your emial"
          required
        />
      </label>
      <button class="button modal-sub__button" type="submit">Subscribe</button>
    </form>
  </div>
</div>
