<!-- Poprawki do animacji -->
<section id="store" class="section store">
  <div class="container">
    <h2 class="section__title">store</h2>
    <ul class="store__list">
      <li class="store__item">
        <figure
          class="store__card aos-init aos-animate"
          data-aos="zoom-in-right"
          data-aos-duration="800"
        >
          <picture>
            <source
              srcset="./images/store-compli-m@2x.jpg, ./images/store-compli-m@1x.jpg"
              media="(max-width: 767px)"
            />
            <source
              srcset="./images/store-compli-t@2x.jpg, ./images/store-compli-t@1x.jpg"
              media="(max-width: 1279px)"
            />
            <source
              srcset="./images/store-compli-d@2x.jpg, ./images/store-compli-d@1x.jpg"
              media="(min-width: 1280px)"
            />
            <img src="./images/store-compli-t@1x.jpg" alt="bukiet kwiatów" />
          </picture>
          <figcaption>
            <h5 class="store__title">compliments</h5>
            <p class="store__description">from $15</p>
          </figcaption>
        </figure>
      </li>
      <li class="store__item">
        <figure
          class="store__card aos-init aos-animate"
          data-aos="zoom-in-left"
          data-aos-duration="800"
        >
          <picture>
            <source
              srcset="./images/store-bouquets-s-m@2x.jpg, ./images/store-bouquets-s-m@1x.jpg"
              media="(max-width: 767px)"
            />
            <source srcset="./images/store-bouquets-s-t@2x.jpg, ./images/store-bouquets-s-t@1x.jpg""
            media="(max-width: 1279px)" />
            <source
              srcset="./images/store-bouquets-s-d@2x.jpg, ./images/store-bouquets-s-d@1x.jpg"
              media="(min-width: 1280px)"
            />
            <img src="./images/store-bouquets-s-t@1x.jpg" alt="mały bukiet kwiatów" />
          </picture>
          <figcaption>
            <h5 class="store__title">bouquets size S</h5>
            <p class="store__description">from $25</p>
          </figcaption>
        </figure>
      </li>
      <li class="store__item">
        <figure
          class="store__card aos-init aos-animate"
          data-aos="zoom-in-right"
          data-aos-duration="800"
        >
          <picture>
            <source
              srcset="./images/store-bouquets-m-m@2x.jpg, ./images/store-bouquets-m-m@1x.jpg"
              media="(max-width: 767px)"
            />
            <source srcset="./images/store-bouquets-m-t@2x.jpg, ./images/store-bouquets-m-t@1x.jpg""
            media="(max-width: 1279px)" />
            <source
              srcset="./images/store-bouquets-m-d@2x.jpg, ./images/store-bouquets-m-d@1x.jpg"
              media="(min-width: 1280px)"
            />
            <img src="./images/store-bouquets-m-t@1x.jpg" alt="średni bukiet kwiatów" />
          </picture>
          <figcaption>
            <h5 class="store__title">bouquets size M</h5>
            <p class="store__description">from $45</p>
          </figcaption>
        </figure>
      </li>
      <li class="store__item">
        <figure
          class="store__card aos-init aos-animate"
          data-aos="zoom-in-left"
          data-aos-duration="800"
        >
          <picture>
            <source
              srcset="./images/store-bouquets-l-m@2x.jpg, ./images/store-bouquets-l-m@1x.jpg"
              media="(max-width: 767px)"
            />
            <source srcset="./images/store-bouquets-l-t@2x.jpg, ./images/store-bouquets-l-t@1x.jpg""
            media="(max-width: 1279px)" />
            <source
              srcset="./images/store-bouquets-l-d@2x.jpg, ./images/store-bouquets-l-d@1x.jpg"
              media="(min-width: 1280px)"
            />
            <img src="./images/store-bouquets-l-t@1x.jpg" alt="duży bukiet kwiatów" />
          </picture>
          <figcaption>
            <h5 class="store__title">bouquets size L</h5>
            <p class="store__description">from $60</p>
          </figcaption>
        </figure>
      </li>
    </ul>
    <button class="button button--order" type="button" data-modal-contact-open>
      Order flowers
    </button>
  </div>
</section>
