<section class="section">
  <div class="container">
    <h2 class="section__title">STORE</h2>
    <ul class="store">
      <li class="store__item">
        <img
          class="store__image"
          src="./images/demo.jpg"
          alt="bukiet kwiatów"
          width="600"
          height="524"
        />
        <p class="store__product">compliments</p>
        <div class="store__price">from $15</div>
      </li>
      <li class="store__item">
        <img
          class="store__image"
          src="./images/demo.jpg"
          alt="mały bukiet kwiatów"
          width="600"
          height="524"
        />
        <p class="store__product">bouquets size S</p>
        <div class="store__price">from $25</div>
      </li>
      <li class="store__item">
        <img
          class="store__image"
          src="./images/demo.jpg"
          alt="średni bukiet kwiatów"
          width="600"
          height="524"
        />
        <p class="store__product">bouquets size M</p>
        <div class="store__price">from $45</div>
      </li>
      <li class="store__item">
        <img
          class="store__image"
          src="./images/demo.jpg"
          alt=" duży bukiet kwiatów"
          width="600"
          height="524"
        />
        <p class="store__product">bouquets size L</p>
        <div class="store__price">from $60</div>
      </li>
    </ul>
    <button class="button button--order" type="submit">Order flowers</button>
  </div>
</section>
