.about {
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    height: auto;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 54px;
    }

    @media screen and (min-width: 1280px) {
      flex-direction: row;
      gap: 90px;
    }
  }

  &__descritpion {
    font-family: $font-primary;
    font-size: 16px;
    line-height: 20px;
    color: $color-text-main;

    @media screen and (min-width: 768px) {
      font-family: $font-primary;
      font-size: 20px;
      line-height: 24px;
      color: $color-text-main;
      width: auto;
      max-width: 322;
    }

    @media screen and (min-width: 1280px) {
      font-family: $font-primary;
      font-size: 22px;
      line-height: 27px;
      color: $color-text-main;
      width: auto;
      max-width: 510px;
    }
  }
}
/*zmienne które sa zastosowane  
Font-family X3
color       X3
*/
