* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  // height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: $font-primary;
  color: $color-text-main;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  display: none;
}
