.navigation {
  display: none;
  &__list {
    display: flex;
    gap: 24px;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
  &__item {
    font-family: $font-primary;
    font-size: 20px;
    line-height: 1.2;
  }
  &__link {
    color: $color-text-main;
  }
}
