.section {
  padding-bottom: 60px;
  padding-top: 71px;

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }

  &__title {
    font-family: $font-primary;
    font-weight: $fontweight-l;
    font-size: $fontsize-standard3;
    line-height: 1.2;
    text-align: left;
    color: $color-text-main;
    text-transform: uppercase;
// settings for line after h2
    display: flex;
    align-items: center;
    gap: 16px;

  // horizontal line after h2
        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: $color-text-main;
            display: inline-block;
        }
  // mobile
    @media screen and (max-width: 767px){
      margin-bottom: 32px; 
    }
  // tablet
    @media screen and (min-width: 768px) {
      font-size: $fontsize-sectionTitle;
      line-height: 1.2;
      margin-bottom: 60px; 
    }
  // desktop
    @media screen and (min-width: 1280px) {
      margin-bottom: 80px; 
    }
  }
}