// colors
$color-logo: #0e0e0e;
$color-highlight: #ffffff;
$color-main-text: #000000;
$color-theme: #e86f54;
$color-hover-theme: #e25b41;
$color-focus-theme: #fa6f54;
$color-modal-text: #5c5c5c;
$color-validation-success: #3cbc81;
$color-validation-denied: #e74a3b;
// Font
$font-main: 'Montserrat';
$font-footer: 'Inter';
// Font Size Mobile (mainly)
$fontsize-pageTitle-mobile: 52px;
$fontsize-pageTitle-tablet: 120px;
$fontsize-pageTitle-desktop: 160px;
$fontsize-XXS: 12px;
$fontsize-XS: 14px;
$fontsize-S: 16px;
$fontsize-M: 18px;
$fontsize-standard: 20px;
// Font Size Tablet (mainly)
$fontsize-standard3: 24px;
//Font Size Desktop (mainly)
$fontsize-standard2: 22px;
$fontsize-minor: 28px;
$fontsize-sectionTitle: 44px; //tylko tablet i desktop
$fontsize-L: 32px;
$fontsize-XL: 36px;
// Font Weight
$fontweight-XS: 400;
$fontweight-S: 500;
$fontweight-M: 600;
$fontweight-L: 700;
