// colors
$color-logo: #0e0e0e;
$color-primary-light: #ffffff;
$color-text-main: #000000;
$color-theme: #e86f54;
$color-theme-hover: #e25b41;
$color-theme-focus: #fa6f54;
$color-text-modal: #5c5c5c;
$color-validation-success: #3cbc81;
$color-validation-denied: #e74a3b;
// Font
$font-primary: 'Montserrat', Arial, Verdana, Helvetica, sans-serif;
$font-secondary: 'Inter', Arial, Verdana, Helvetica, sans-serif;

// Font Weight
$fontweight-s: 500;
$fontweight-m: 600;
$fontweight-l: 700;
