// Font
$font-primary: 'Montserrat', Arial, Verdana, Helvetica, sans-serif;
$font-secondary: 'Inter', Arial, Verdana, Helvetica, sans-serif;
// Font Size Mobile (mainly)
$fontsize-pageTitle-mobile: 52px;
$fontsize-pageTitle-tablet: 120px;
$fontsize-pageTitle-desktop: 160px;
$fontsize-xxs: 12px;
$fontsize-xs: 14px;
$fontsize-s: 16px;
$fontsize-m: 18px;
$fontsize-standard: 20px;
// Font Size Tablet (mainly)
$fontsize-standard3: 24px;
//Font Size Desktop (mainly)
$fontsize-standard2: 22px;
$fontsize-minor: 28px;
$fontsize-sectionTitle: 44px; //tylko tablet i desktop
$fontsize-l: 32px;
$fontsize-xl: 36px;

// Font Weight
$fontweight-xs: 400;
$fontweight-s: 500;
$fontweight-m: 600;
$fontweight-l: 700;
